<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterlayout.html}">
<head>

</head>
<body>
<th:block layout:fragment="content">

    <h3 style="padding-top: 70px">Welcome to Wakanda Republic</h3>
    <hr/>

    <div>
        <!--<img class="img-responsive" th:src="@{/images/banner.jpg}"/> <br/><br/>-->
        <img class="img-responsive" src="static/images/banner.jpg"> <br/><br/>

        <p> Iowa residents have the right to search for, obtain, and examine public records per the Iowa Open Records Law. This law states that government records and information are presumed public. The mission of Iowa State Records is to aid Iowa citizens in the obtaining of that information.

            The purpose of this website is to ensure that members of the general public have access to government records, and to provide them with tools to access them easily and efficiently. The website also ensures that these residents are not required to provide personal information, unless such information required to access confidential records.

            The information documented on this website includes criminal records, court records, vital records, state background checks; including over 27 million transparent public records.</p>

    </div>
</th:block>

</body>
</html>

